{% extends "base/Page.html" %}
{% load otree %}

{% block title %}
Cuestionario
{% endblock %}

{% block body %}
<p>

    Por favor responda las siguientes preguntas:
</p>
<div style="display: none">
    {% formfields %}
    {% next_button %}
</div>

<div id="surveyElement" style="display:inline-block;width:100%;"></div>

{% endblock %}

{% block local_scripts %}

<script type="text/javascript" src="https://unpkg.com/survey-jquery@1.8.31/survey.jquery.min.js">
</script>
<script type="text/javascript">

    let codigo = js_vars.codigo;

    function surveyValidateQuestion(s, options) {
        if (options.question.hasRows) {
            var question = s.getQuestionByName(options.name);
            if (!question.rows.every(function (row) {
                return (options.value || {})[row.itemValue] !== undefined;
            })) {
                options.error = "Todas las preguntas deben responderse";
            }
        }
    }

    $(document).ready(function () {
        Survey
            .StylesManager
            .applyTheme("default");
        var json = {

         
            pages: [
                {
                    questions: [
                        {
                            type: "radiogroup",
                            name: "pago",
                            title: "¿Cuál considera que es la opción que la mayoría de personas elegirá?",
                            isRequired: true,
                            choices: [
                                {
                                    value: "Opcion 1",
                                    text: "Opción 1: Recibir los $4.000 al finalizar la sesión"
                                },
                                {
                                    value: "Opcion 2",
                                    text: "Opción 2: Guardar una parte del pago "
                                },
                                {
                                    value: "Opcion 3",
                                    text: "Opción 3: Guardar la totalidad del pago hasta finalizar el contrato"
                                }
                            ]
                        },

                    ]

                },

                {
                    questions: [

                        {
                            type: "text",
                            title: "Usted cree que la mayoria elegiría la {pago}. Si hubiese 10 personas, ¿ cuántas cree que estarían de acuerdo con usted ?",
                            isRequired: true,
                            inputType: "number",
                            autoComplete: "name",
                            min: "0",
                            max: "10"
                        },

                    ]

                },
                {
                    questions: [

                        {
                            type: "radiogroup",
                            name:"pregunta3",
                            title: " ¿Cuál considera que es la opción que DEBERÍA ser elegida?",
                            isRequired: true,
                            choices: [
                                {
                                    value: "Opcion 1",
                                    text: "Opción 1: Recibir los $4.000 al finalizar la sesión"
                                },
                                {
                                    value: "Opcion 2",
                                    text: "Opción 2: Guardar una parte del pago "
                                },
                                {
                                    value: "Opcion 3",
                                    text: "Opción 3: Guardar la totalidad del pago hasta finalizar el contrato"
                                }
                            ]
                        }
                    ]

                },

                {
                    questions: [

                        {
                            type: "text",
                            title: "Usted considera que la opción que DEBERÍA ser elegida es la {pregunta3}. Si hubiese 10 personas, ¿ cuántas cree que estarían de acuerdo con usted ?",
                            isRequired: true,
                            inputType: "number",
                            autoComplete: "name",
                            min: "0",
                            max: "10"
                        },

                    ]

                },

            ],
        };



        window.survey = new Survey.Model(json);
        $("#surveyElement").Survey({
            model: survey, onComplete: function (result) {
                let data = {}
                var variable = 0
                Object.keys(result.data).forEach(function (key) {
                    if (typeof result.data[key] == "object") {
                        Object.values(result.data[key]).map((v, i) => {
                            data[key + "." + i] = v
                        })
                    } else {
                        data[key] = result.data[key]
                    }
                    variable = key;
                });
                data[Number(variable) + Number(1)] = codigo;
                $('#id_cuestionario').val(JSON.stringify(data))
                $('.otree-btn-next').trigger('click')
            },
            onValidateQuestion: surveyValidateQuestion
        });

    })


</script>
{% endblock local_scripts %}