{% extends "base/Page.html" %}
{% load otree %}

{% block title %}
 Documento a digitalizar
{% endblock %}

{% block body %}
    {{ text_info }}
 
    <div style="margin-top: 40px" class="row">
        <div class="col-md-12">
           
        </div>
        <div class="col-md-4">
            {% csrf_token %}
            {% formfields %}
        </div>
        <div class="col-md-8">
            <object style="min-height: 800px; margin-top: 15px" data="{% static document_url %}"
                    type="application/pdf" width="100%" height="100%">
                <p>Alternative text - include a link <a href="{% static document_url %}">to the PDF!</a>
                </p>
            </object>
        </div>
    </div>
    <br>
    <br>
    <br>
   <p>
    </p>
    <br>
    <br>
    {% next_button %}

{% endblock %}

{% block local_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.otree-form').attr("enctype", "multipart/form-data");
        })
    </script>
{% endblock local_scripts %}